In [ ]:
greeting = "Hello!"
print(greeting) #comment - there are no ; at the end of the lines

data = 14
print(data)

#code is being read from top to bottom

this_is_a_variable = "in python for naming we use so called snake case"
print(this_is_a_variable)

#Python is object-based and object-oriented
#everything we define is AN OBJECT

Hello!
14
we use so called snake case

In [ ]:
name = "Elina"
surname = "Fjodorova"
age = 32
occupation = "metrologist"
university_graduate = True
height = 1.67
#basic data types

print(name, surname, age, occupation, university_graduate, height)
#output: Elina Fjodorova 32 metrologist True 1.67

print(f"Full name:{name} {surname}\nOccupation: {occupation}\nUniversity degree: {university_graduate}")
#f = formatted
#output - each var on a new line

Elina Fjodorova 32 metrologist True 1.67
Full name:Elina Fjodorova
Occupation: metrologist
University degree: True

In [ ]:
guest_1 = "Anna"
guest_2 = "Jennifer"
guest_3 = "Elza" #'Elza'

print(guest_1, guest_2, guest_3) #output: Anna Jennifer Elza

guests = ["John", "Mike", "James", "Oliver"]
print(guests) #output: ['John', 'Mike', 'James', 'Oliver']

for guest in guests:
  print(guest)
  #output:  John
#           Mike
#           James
#           Oliver

Anna Jennifer Elza
['John', 'Mike', 'James', 'Oliver']
John
Mike
James
Oliver

In [ ]:
name = "trees "*12 #string var
#print(name, end="") defining end of string
print(name)

trees trees trees trees trees trees trees trees trees trees trees trees

In [ ]:
name = input("Please enter your name: ")
text = ""
print(f'Hello, {name}! I would like to read the book 'Hamlet' ')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-23-cc444b952bb5>, line 3)

In [ ]:
#requesting user input

name = input("Please enter your name: ")
print(f"Hello, {name}! Nice to meet you")
#another option
print("Hello, ", name,"nice to meet you!")

Please enter your name: el
Hello, el! Nice to meet you
Hello,  el nice to meet you!

In [ ]:
name = "Anna"
surname = "Johnson"
print("Hello,", name, "!")
print(f"Hello, Anna!") #hardcoding - a bad practice of coding
print(f"Hello, {name}!")
print(f'{name} wants to read "Hamlet".')

Hello, Anna !
Hello, Anna!
Hello, Anna!
Anna wants to read "Hamlet".

**DATA TYPES**

In [ ]:
#the data type is set when you assign a value to a variable
x = 1j #complex
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
x = {"name" : "John", "age" : 36} #dict
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"}) #frozen set
x = b"Hello" #bytes
x = None #none type

#you can specify the data type
x = str("Hello World")
x = dict(name="John", age=36)

#Variables do not need to be declared with any particular type,
#and can even change type after they have been set.
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

#If you want to specify the data type of a variable, this can be done with casting.
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

#You can get the data type of a variable with the type() function.
x = 5
y = "John"
print(type(x))
print(type(y))

Sally
<class 'int'>
<class 'str'>

In [ ]:
x = "John"
# is the same as
x = 'John'

a = 4
A = "Sally"
#A will not overwrite a

#var names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive (age, Age and AGE are three different variables)
#A variable name cannot be any of the Python keywords.

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
#Python allows you to assign values to multiple variables in one line

x = y = z = "Orange"
print(x)
print(y)
print(z)
#multiple values to one var

#unpacking a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
# integers - numbers without fractional parts, + or -
x = 14
print(x)
print(type(x))

# floats
nearly_pi = 3.142857142857143
print(nearly_pi)
print(type(nearly_pi))
    #rounding up
rounded_nearly_pi = round(nearly_pi, 2)
print(rounded_nearly_pi)
print(type(rounded_nearly_pi)) #type changed to float
type(round(rounded_nearly_pi, 0)) #default is 0

#boolean
boolean1 = True
print(boolean1)
print(type(boolean1))
boolean2 = (1 > 2)
print(boolean2)
boolean3 = ("ABc" == "ABC") #false
boolean4 = not boolean1 #opposite of boolean1
print(boolean4)
boolean5 = True + False + True #1 + 0 + 1
print(boolean5)

#string
string1 = "Hello!"
print(string1)
print(type(string1))
len(string1)
nearly_pi_string = "3.14"
print(type(nearly_pi_string))
nearly_pi_converted = float(nearly_pi_string)
type(nearly_pi_converted)

new_string = "abc" + "def"
print(new_string) #concatenation

14
<class 'int'>
3.142857142857143
<class 'float'>
3.14
<class 'float'>
True
<class 'bool'>
False
False
2
Hello!
<class 'str'>
<class 'str'>
abcdef

**ARITHMETIC CALCULATIONS**

In [ ]:
#addition
a = 5
b = 7
c = -2
sum = a + b + c
print(sum)
type(sum)
print(f'SUM of numbers a, b, c: {sum}')

#substraction
difference = a - b
print(difference)
print(f'DIFFERENCE between numbers a, b: {difference}')

#multiplication
multipl = a * b * c
print(f'MULTIPLICATION of numbers a, b, c: {multipl}')

#division
divided = a / b
print(f'DIVISION of numbers a, b, rounded: {round(divided, 2)}')

#exponentiation - a^b
power = a ** b
print(f'Exponentiation of a and b:  {power}')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-33-83381aa5781d>, line 25)

In [ ]:
input1 = input("How old are you?") #the answer will always be a string
input2 = input("How old am I?")
sum = input1 + input2

print(input1) #string
print(type(input1))

print(sum) #concatenated both strings instead of addition
#we must convert strings to integers
input1_int = int(input1)
input2_int = int(input2)
sum_int = input1_int + input2_int
print(sum_int)

How old are you?32
How old am I?12
32
<class 'str'>
3212
44

In [ ]:
#DENSITY OF AN AREA
area = input("Enter area in sq km: ")
area_int = int(area) #could have been done before
#area = int(input("Enter area in sq km: "))
population = input("Enter population: ")
population_int = int(population)

density = round(population_int / area_int)
print(f"Density is: {density} people per sq km")

Enter area in sq km: 34
Enter population: 378
Density is: 11 people per sq km

In [ ]:
#CONVERTING POUNDS TO KILOGRAMS
#a pound is 0.45359237 kg
pounds = float(input("Enter the weight in pounds: "))
conversion_factor = 0.45359237 #constant variable
kilograms_rounded = round(pounds * conversion_factor, 2)
print(f"Weight in pounds is: {pounds} lb, weight in kilograms (rounded) is: {kilograms_rounded} kg.")

Enter the weight in pounds: 56.09
Weight in pounds is: 56.09, weight in kilograms (rounded) is: 25.44

In [ ]:
#TASK1
#Celsius to Fahrenheit
#(Celsius * 1.8) + 32
celsius = int(input("Enter the temperature in Celsius: "))

In [ ]:
#TASK2
#miles to km

input_miles = float(input("Please enter the distances in miles: "))
conversion_factor = 1.609344
result = round((input_miles / conversion_factor), 2)
print(f"{input_miles} miles = {result} km.")

Please enter the distances in miles: 467.09
467.09 miles = 290.24 km.